In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("C:/Users/PC/Desktop/Data Preprocessing/used_car_sales.csv",parse_dates=["Purchased Date","Sold Date"])
df

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,Un Sold,1970-01-01,8296,0,0,Pranav,1,0,Average
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,Sold,2021-03-03,5659,4770,-16,Vihaan,5,0,Good
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,Un Sold,1970-01-01,8430,0,0,Aarush,4,0,Good
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,Sold,2024-04-02,6919,7942,15,Anushka,1,205,Average
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,Un Sold,1970-01-01,6864,0,0,Pavan,3,0,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ZHLCSG,APE,Texas,Yodha,Tata,Truck,Blue,Manual,3,2,...,2023-12-29,Sold,2024-03-23,6102,5041,-17,Supriya,3,0,Excellent
9996,2BJE0Y,Carsome,Portland,Scorpio,Mahindra,SUV,Black,Automatic,5,5,...,2019-06-13,Un Sold,1970-01-01,8108,0,0,Aarush,4,0,Excellent
9997,4OVJ83,Trust,North Carolina,Seltos,Kia,Hatchback,Black,Automatic,5,5,...,2020-02-17,Un Sold,1970-01-01,5945,0,0,Pranav,4,0,Poor
9998,M2ECXT,Carsome,Detroit,Swift,Maruti,Sedan,Black,Automatic,5,4,...,2018-05-03,Un Sold,1970-01-01,6893,0,0,Swathi,2,0,Average
9999,28W445,Olx,Portland,Swift,Maruti,Sedan,White,Automatic,5,4,...,2024-05-18,Un Sold,1970-01-01,6771,0,0,Vihaan,5,0,Poor

In [3]:
"""
1) ID: Unique identifier for each record.

2) Distributor Name: Name of the car distributor.

3) Location: Location of the distributors office.

4) Car Name: The specific name of the car.

5) Manufacturer Name: Name of the cars manufacturer.

6) Car Type: Type of car (e.g., Sedan, SUV, Hatchback, etc.).

7) Color: Cars color.

8) Gearbox: Type of gearbox (e.g., Manual, Automatic).

9) Number of Seats: Total number of seats in the car.

10) Number of Doors: Number of doors in the car.

11) Energy: Fuel type used by the car (e.g., Petrol, Diesel, Electric).

12) Manufactured Year: Year the car was manufactured.

13) Price-$: Listed price of the car in USD.

14) Mileage-KM: Total kilometers the car has traveled.

15) Engine Power-HP: Horsepower (HP) of the car engine.

16) Purchased Date: Date the distributor purchased the car.

17) Car Sale Status: Indicates whether the car was sold to a customer (Sold/Not Sold).

18) Sold Date: Date the car was sold to a customer.

19) Purchased Price-$: Purchase price paid by the distributor.

20) Sold Price-$: Sale price paid by the customer.

21) Margin-%: Percentage margin earned by the distributor.

22) Sales Agent Name: Name of the sales agent who closed the deal.

23) Sales Rating: Rating given to the sales agent by the distributor.

24) Sales Commission-$: Commission paid to the sales agent by the distributor.

25) Feedback: Customer feedback on the sales experience.
"""
df.head()

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,Un Sold,1970-01-01,8296,0,0,Pranav,1,0,Average
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,Sold,2021-03-03,5659,4770,-16,Vihaan,5,0,Good
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,Un Sold,1970-01-01,8430,0,0,Aarush,4,0,Good
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,Sold,2024-04-02,6919,7942,15,Anushka,1,205,Average
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,Un Sold,1970-01-01,6864,0,0,Pavan,3,0,Poor

In [4]:
df.tail()

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
9995,ZHLCSG,APE,Texas,Yodha,Tata,Truck,Blue,Manual,3,2,...,2023-12-29,Sold,2024-03-23,6102,5041,-17,Supriya,3,0,Excellent
9996,2BJE0Y,Carsome,Portland,Scorpio,Mahindra,SUV,Black,Automatic,5,5,...,2019-06-13,Un Sold,1970-01-01,8108,0,0,Aarush,4,0,Excellent
9997,4OVJ83,Trust,North Carolina,Seltos,Kia,Hatchback,Black,Automatic,5,5,...,2020-02-17,Un Sold,1970-01-01,5945,0,0,Pranav,4,0,Poor
9998,M2ECXT,Carsome,Detroit,Swift,Maruti,Sedan,Black,Automatic,5,4,...,2018-05-03,Un Sold,1970-01-01,6893,0,0,Swathi,2,0,Average
9999,28W445,Olx,Portland,Swift,Maruti,Sedan,White,Automatic,5,4,...,2024-05-18,Un Sold,1970-01-01,6771,0,0,Vihaan,5,0,Poor

In [5]:
list(df.columns)

['ID',
 'Distributor Name',
 'Location',
 'Car Name',
 'Manufacturer Name',
 'Car Type',
 'Color',
 'Gearbox',
 'Number of Seats',
 'Number of Doors',
 'Energy',
 'Manufactured Year',
 'Price-$',
 'Mileage-KM',
 'Engine Power-HP',
 'Purchased Date',
 'Car Sale Status',
 'Sold Date',
 'Purchased Price-$',
 'Sold Price-$',
 'Margin-%',
 'Sales Agent Name',
 'Sales Rating',
 'Sales Commission-$',
 'Feedback']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  10000 non-null  object
 1   Distributor Name    10000 non-null  object
 2   Location            10000 non-null  object
 3   Car Name            10000 non-null  object
 4   Manufacturer Name   10000 non-null  object
 5   Car Type            10000 non-null  object
 6   Color               10000 non-null  object
 7   Gearbox             10000 non-null  object
 8   Number of Seats     10000 non-null  int64
 9   Number of Doors     10000 non-null  int64
 10  Energy              10000 non-null  object
 11  Manufactured Year   10000 non-null  int64
 12  Price-$             10000 non-null  int64
 13  Mileage-KM          10000 non-null  int64
 14  Engine Power-HP     10000 non-null  int64
 15  Purchased Date      10000 non-null  datetime64[ns]
 16  Car Sale Status     10000 non-null  object
 17  Sold Date           10000 non-null  datetime64[ns]
 18  Purchased Price-$   10000 non-null  int64
 19  Sold Price-$        10000 non-null  int64
 20  Margin-%            10000 non-null  int64
 21  Sales Agent Name    10000 non-null  object
 22  Sales Rating        10000 non-null  int64
 23  Sales Commission-$  10000 non-null  int64
 24  Feedback            10000 non-null  object
dtypes: datetime64[ns](2), int64(11), object(12)
memory usage: 1.9+ MB

In [7]:
df.describe()

,Number of Seats,Number of Doors,Manufactured Year,Price-$,Mileage-KM,Engine Power-HP,Purchased Date,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Rating,Sales Commission-$
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.786000,4.081000,2019.525200,7975.100000,45497.531800,143.344700,2020-01-09 21:10:30.719999744,1981-04-28 23:35:57.119999936,6720.617700,1487.776100,0.428200,3.004500,17.809100
min,2.000000,2.000000,2015.000000,6000.000000,1000.000000,100.000000,2015-01-01 00:00:00,1970-01-01 00:00:00,4015.000000,0.000000,-26.000000,1.000000,0.000000
25%,4.000000,3.000000,2017.000000,7200.000000,22530.250000,113.000000,2017-07-07 18:00:00,1970-01-01 00:00:00,5937.000000,0.000000,0.000000,2.000000,0.000000
50%,5.000000,5.000000,2020.000000,7900.000000,44471.500000,120.000000,2020-01-13 00:00:00,1970-01-01 00:00:00,6685.000000,0.000000,0.000000,3.000000,0.000000
75%,5.000000,5.000000,2022.000000,8700.000000,66292.500000,175.000000,2022-07-15 00:00:00,1970-01-01 00:00:00,7481.250000,0.000000,0.000000,4.000000,0.000000
max,8.000000,5.000000,2024.000000,10900.000000,99983.000000,250.000000,2024-12-31 00:00:00,2025-02-16 00:00:00,10383.000000,11657.000000,33.000000,5.000000,308.000000
std,1.466499,1.266807,2.886693,1018.829618,26867.899798,44.762333,NaN,NaN,1110.840531,2900.679397,5.811697,1.408644,57.135284

In [8]:
Q1 = df["Purchased Price-$"].quantile(0.25)
Q3 = df["Purchased Price-$"].quantile(0.75)
IQR = Q3 - Q1
upper = Q3 + 1.5 * IQR
upper

np.float64(9797.625)

In [9]:
df[df["Purchased Price-$"] > upper]

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
991,CLF8IF,Nufor,North Carolina,Plato,Prazo,Convertible,Blue,Automatic,2,2,...,2016-02-25,Un Sold,1970-01-01,10095,0,0,Shilpa,3,0,Average
1206,WPSFSS,Olx,Florida,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2022-03-07,Un Sold,1970-01-01,10076,0,0,Swapna,3,0,Good
1248,238HA3,Oto,Philadelphia,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2023-10-08,Un Sold,1970-01-01,10174,0,0,Sweta,3,0,Excellent
1357,SF1B7N,Olx,Oklahoma,Plato,Prazo,Convertible,Red,Manual,2,2,...,2015-11-08,Un Sold,1970-01-01,9973,0,0,Shiva,1,0,Excellent
1469,MANQLA,Knox,San Jose,Plato,Prazo,Convertible,Black,Manual,2,2,...,2017-12-23,Un Sold,1970-01-01,10186,0,0,Shailaja,2,0,Average
1516,44LNQ1,Automart,Philadelphia,Plato,Prazo,Convertible,Gray,Manual,2,2,...,2016-07-28,Un Sold,1970-01-01,10127,0,0,Bhavani,4,0,Poor
1649,A7J5Q7,Skipper,North Carolina,Plato,Prazo,Convertible,Red,Manual,2,2,...,2019-04-23,Un Sold,1970-01-01,10375,0,0,Sai,4,0,Good
2282,P44UDL,Oto,Columbus,Plato,Prazo,Convertible,Black,Manual,2,2,...,2018-07-19,Un Sold,1970-01-01,10130,0,0,Ram,1,0,Good
2463,PA99HD,APE,Texas,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2018-10-01,Un Sold,1970-01-01,9953,0,0,Hariom,1,0,Average
2539,XX23Z6,Zupps,Denver,Plato,Prazo,Convertible,White,Manual,2,2,...,2016-02-10,Sold,2019-11-13,9975,8925,-11,Preeti,2,0,Good
3100,YHUMYA,Trivett,Denver,Plato,Prazo,Convertible,Red,Manual,2,2,...,2022-01-17,Sold,2022-03-10,10148,10374,2,Narayan,3,45,Average
3504,KLD4NY,Olx,Tucson,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2017-01-12,Sold,2019-07-11,9896,9829,-1,Karan,1,0,Excellent
3794,QS5M0G,Carmudi,North Carolina,Plato,Prazo,Convertible,White,Automatic,2,2,...,2024-07-25,Un Sold,1970-01-01,9827,0,0,Vishwajeet,3,0,Excellent
4248,5YLN6X,Olx,Philadelphia,Plato,Prazo,Convertible,White,Automatic,2,2,...,2020-08-21,Un Sold,1970-01-01,9885,0,0,Swapna,5,0,Excellent
4535,5LG3CH,Carmix,Texas,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2021-12-03,Sold,2022-07-08,10133,9191,-9,Krishna,3,0,Average
4673,ATNJLM,Motor,North Carolina,Plato,Prazo,Convertible,Red,Automatic,2,2,...,2017-05-12,Sold,2022-09-08,10061,11382,13,Piyush,2,264,Excellent
5044,T4H6OE,Skipper,North Carolina,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2018-08-25,Sold,2024-05-22,10010,10693,7,Rithvik,3,137,Average
5770,B0B9VN,Carousell,Columbus,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2022-02-13,Un Sold,1970-01-01,9874,0,0,Anushka,2,0,Average
5978,XK79H0,Marchi,San Jose,Plato,Prazo,Convertible,Blue,Manual,2,2,...,2016-04-28,Un Sold,1970-01-01,10383,0,0,Swathi,1,0,Poor
6340,3HKSW4,Cars24,Texas,Plato,Prazo,Convertible,Blue,Manual,2,2,...,2017-02-09,Un Sold,1970-01-01,9996,0,0,Swathi,5,0,Good
6383,G83JIR,Carousell,Detroit,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2019-06-24,Sold,2021-08-04,10332,11657,13,Swapna,4,265,Poor
6451,36RJ8N,Trivett,Tennessee,Plato,Prazo,Convertible,Red,Automatic,2,2,...,2018-03-18,Un Sold,1970-01-01,10170,0,0,Swapna,2,0,Excellent
6717,GQD8XA,Carmudi,North Carolina,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2021-12-15,Un Sold,1970-01-01,9851,0,0,Shiva,2,0,Average
6923,51CMYC,Sobri,Tennessee,Plato,Prazo,Convertible,Red,Manual,2,2,...,2021-10-16,Un Sold,1970-01-01,9835,0,0,Hariom,5,0,Excellent
7042,MSQQQ6,Kamkar,Tennessee,Plato,Prazo,Convertible,Blue,Automatic,2,2,...,2020-02-16,Un Sold,1970-01-01,9915,0,0,Anushka,2,0,Good
7595,E73FA1,Oto,North Carolina,Plato,Prazo,Convertible,White,Automatic,2,2,...,2019-03-30,Un Sold,1970-01-01,10278,0,0,Preeti,2,0,Excellent
7624,763P3P,Automart,Denver,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2019-10-31,Un Sold,1970-01-01,9869,0,0,Vihaan,1,0,Excellent
7751,KTXO30,APE,Florida,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-04-04,Un Sold,1970-01-01,9818,0,0,Supriya,2,0,Good
7971,CFCBPV,Zupps,Columbus,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2018-12-03,Un Sold,1970-01-01,9979,0,0,Shailaja,5,0,Average
8603,TE8L8C,Carousell,California,Plato,Prazo,Convertible,Blue,Automatic,2,2,...,2015-10-31,Sold,2022-12-20,9891,9449,-4,Shiva,4,0,Excellent
8611,NVSPJD,Skipper,Denver,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2016-11-26,Sold,2020-07-29,9880,9071,-8,Sai,5,0,Excellent
8855,G0G1A6,Marchi,North Carolina,Plato,Prazo,Convertible,Gray,Manual,2,2,...,2018-06-27,Un Sold,1970-01-01,10153,0,0,Piyush,2,0,Poor
8882,UZHTZN,Oto,North Carolina,Plato,Prazo,Convertible,Black,Manual,2,2,...,2015-04-26,Un Sold,1970-01-01,9879,0,0,Shilpa,1,0,Good
9103,SJDZIE,Sobri,Denver,Plato,Prazo,Convertible,Red,Automatic,2,2,...,2023-01-12,Un Sold,1970-01-01,9881,0,0,Hariom,3,0,Good
9261,33XJ38,Skipper,Detroit,Plato,Prazo,Convertible,Blue,Automatic,2,2,...,2016-12-31,Un Sold,1970-01-01,10380,0,0,Vihaan,4,0,Average
9509,ADMDDE,Olx,Utah,Plato,Prazo,Convertible,White,Automatic,2,2,...,2018-04-20,Sold,2023-07-14,10024,11075,10,Dhruv,4,210,Average

In [10]:
x = df[df["Purchased Price-$"] > upper]
x.shape

(36, 25)

In [11]:
df[df["Manufacturer Name"] == "Prazo"]

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,Sold,2024-04-02,6919,7942,15,Anushka,1,205,Average
56,8XWHPE,Cars24,Madison,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2015-08-02,Un Sold,1970-01-01,8314,0,0,Hariom,2,0,Average
59,1JZYN5,Nufor,Utah,Plato,Prazo,Convertible,Black,Automatic,2,2,...,2016-10-27,Un Sold,1970-01-01,9687,0,0,Arjuna,3,0,Good
94,1GJOBW,Motor,California,Plato,Prazo,Convertible,Black,Manual,2,2,...,2023-07-28,Un Sold,1970-01-01,9046,0,0,Pranav,2,0,Average
98,ALXRLJ,Olx,North Carolina,Plato,Prazo,Convertible,White,Manual,2,2,...,2015-01-15,Un Sold,1970-01-01,9296,0,0,Arjuna,1,0,Excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,V1OAPD,Oto,Florida,Plato,Prazo,Convertible,Blue,Manual,2,2,...,2019-08-24,Un Sold,1970-01-01,7839,0,0,Vihaan,2,0,Good
9893,AVN43U,Carro,Columbus,Plato,Prazo,Convertible,Blue,Manual,2,2,...,2016-01-10,Un Sold,1970-01-01,8000,0,0,Shailaja,1,0,Excellent
9943,U31JXQ,Ahg,Detroit,Plato,Prazo,Convertible,White,Manual,2,2,...,2021-01-19,Un Sold,1970-01-01,7467,0,0,Rithvik,5,0,Excellent
9947,NHXKCD,Carmix,Florida,Plato,Prazo,Convertible,Red,Automatic,2,2,...,2020-03-20,Un Sold,1970-01-01,7987,0,0,Shruthi,4,0,Poor
9960,T3DJJF,Trust,Tennessee,Plato,Prazo,Convertible,Red,Manual,2,2,...,2016-05-27,Un Sold,1970-01-01,8142,0,0,Swapna,1,0,Excellent

In [12]:
df["Purchased Price-$"][df["Manufacturer Name"] == "Prazo"].mean()

np.float64(8399.902941176471)

In [13]:
df.groupby("Manufacturer Name").get_group("Prazo")["Purchased Price-$"].agg("mean")
df.groupby("Manufacturer Name").get_group("Prazo")["Purchased Price-$"].mean()

np.float64(8399.902941176471)

In [14]:
df.pivot_table(index="Manufacturer Name",values="Purchased Price-$",aggfunc="mean")
# prazo - Mahindra - Renault - Toyota - Tata - Maruti - Hyundai - Kia

                   Purchased Price-$
Manufacturer Name
Hyundai                  5870.966359
Kia                      5813.161708
Mahindra                 7324.031289
Maruti                   6159.878480
Prazo                    8399.902941
Renault                  7299.477876
Tata                     6827.349398
Toyota                   7111.743060

In [15]:
x = df.pivot_table(index="Manufacturer Name",values="Purchased Price-$",aggfunc="mean")
x.sort_values(by = "Purchased Price-$",ascending=False)

                   Purchased Price-$
Manufacturer Name
Prazo                    8399.902941
Mahindra                 7324.031289
Renault                  7299.477876
Toyota                   7111.743060
Tata                     6827.349398
Maruti                   6159.878480
Hyundai                  5870.966359
Kia                      5813.161708

In [16]:
df[["Engine Power-HP"]]

      Engine Power-HP
0                 200
1                 113
2                 120
3                 250
4                 100
...               ...
9995              100
9996              120
9997              150
9998              115
9999              115

[10000 rows x 1 columns]

In [17]:
df.groupby(["Manufacturer Name"])["Engine Power-HP"].mean()

Manufacturer Name
Hyundai     116.583113
Kia         150.000000
Mahindra    125.056320
Maruti      105.917808
Prazo       250.000000
Renault     175.000000
Tata        100.000000
Toyota      200.000000
Name: Engine Power-HP, dtype: float64

In [18]:
df[["Engine Power-HP"]].value_counts()

Engine Power-HP
120                1566
100                1553
200                1549
103                 809
130                 808
175                 791
150                 773
113                 740
115                 731
250                 680
Name: count, dtype: int64

In [19]:
df.describe(include = "O")

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Energy,Car Sale Status,Sales Agent Name,Feedback
count,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
unique,10000,21,17,13,8,5,5,2,4,2,27,4
top,G0K5HM,Cars24,North Carolina,Yodha,Maruti,SUV,Blue,Automatic,Hybrid,Un Sold,Krishna,Excellent
freq,1,520,1075,830,2263,3167,2353,5093,2536,7834,410,4117

In [20]:
sold = df[df["Car Sale Status"] == "Sold"]

In [21]:
sold["Purchased Price-$"].sum()

np.int64(14600544)

In [22]:
sold["Sold Price-$"].sum()

np.int64(14877761)

In [23]:
Magin = (sold["Sold Price-$"].sum()) -  (sold["Purchased Price-$"].sum())
Magin

np.int64(277217)

In [24]:
sold["Purchased Date"].min()

Timestamp('2015-01-03 00:00:00')

In [25]:
sold["Sold Date"].max()

Timestamp('2025-02-16 00:00:00')

In [26]:
df.duplicated().sum()

np.int64(0)

In [27]:
df.duplicated(subset="ID").sum()

np.int64(0)

In [28]:
null = df.isnull().sum()
null

ID                    0
Distributor Name      0
Location              0
Car Name              0
Manufacturer Name     0
Car Type              0
Color                 0
Gearbox               0
Number of Seats       0
Number of Doors       0
Energy                0
Manufactured Year     0
Price-$               0
Mileage-KM            0
Engine Power-HP       0
Purchased Date        0
Car Sale Status       0
Sold Date             0
Purchased Price-$     0
Sold Price-$          0
Margin-%              0
Sales Agent Name      0
Sales Rating          0
Sales Commission-$    0
Feedback              0
dtype: int64

In [29]:
df["Purchased Price-$"].agg(["mean","min","max"])

mean     6720.6177
min      4015.0000
max     10383.0000
Name: Purchased Price-$, dtype: float64

In [30]:
df[df["Purchased Price-$"] == df["Purchased Price-$"].min()]

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
4943,ABRLPN,Carro,California,Etriga,Maruti,Hatchback,Red,Automatic,4,5,...,2020-05-29,Un Sold,1970-01-01,4015,0,0,Shruthi,4,0,Excellent

In [31]:
df[df["Purchased Price-$"] == df["Purchased Price-$"].max()]

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
5978,XK79H0,Marchi,San Jose,Plato,Prazo,Convertible,Blue,Manual,2,2,...,2016-04-28,Un Sold,1970-01-01,10383,0,0,Swathi,1,0,Poor

In [32]:
df["Car Sale Status"].replace({"Sold" : 1 , "Un Sold" : 0},inplace = True)

In [33]:
df.head()

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,0,1970-01-01,8296,0,0,Pranav,1,0,Average
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,1,2021-03-03,5659,4770,-16,Vihaan,5,0,Good
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,0,1970-01-01,8430,0,0,Aarush,4,0,Good
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,1,2024-04-02,6919,7942,15,Anushka,1,205,Average
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,0,1970-01-01,6864,0,0,Pavan,3,0,Poor

In [34]:
df["Car Sale Status"]

0       0
1       1
2       0
3       1
4       0
       ..
9995    1
9996    0
9997    0
9998    0
9999    0
Name: Car Sale Status, Length: 10000, dtype: int64

In [35]:
df["Feedback"].nunique()

4

In [36]:
df["Feedback"].value_counts()

Feedback
Excellent    4117
Good         2944
Average      2011
Poor          928
Name: count, dtype: int64

In [37]:
df["Feedback"].replace({"Poor" : 0 ,"Average" : 1 ,"Good" : 2 , "Excellent" : 3}, inplace = True)

In [38]:
df.head()

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Purchased Date,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,2022-10-26,0,1970-01-01,8296,0,0,Pranav,1,0,1
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,2017-08-25,1,2021-03-03,5659,4770,-16,Vihaan,5,0,2
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,2018-06-13,0,1970-01-01,8430,0,0,Aarush,4,0,2
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,2023-05-14,1,2024-04-02,6919,7942,15,Anushka,1,205,1
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,2022-08-24,0,1970-01-01,6864,0,0,Pavan,3,0,0

In [39]:
df[["Feedback"]]

      Feedback
0            1
1            2
2            2
3            1
4            0
...        ...
9995         3
9996         3
9997         0
9998         1
9999         0

[10000 rows x 1 columns]

In [42]:
df["Days to sell"] = df["Sold Date"] - df["Purchased Date"]

In [43]:
df.head(10)

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback,Days to sell
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,0,1970-01-01,8296,0,0,Pranav,1,0,1,-19291 days
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,1,2021-03-03,5659,4770,-16,Vihaan,5,0,2,1286 days
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,0,1970-01-01,8430,0,0,Aarush,4,0,2,-17695 days
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,1,2024-04-02,6919,7942,15,Anushka,1,205,1,324 days
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,0,1970-01-01,6864,0,0,Pavan,3,0,0,-19228 days
5,I5D584,Zupps,Denver,Fortuner,Toyota,SUV,Red,Automatic,8,5,...,1,2024-11-02,8533,9929,16,Preeti,5,279,3,881 days
6,KPRE75,Cars24,New York,Thar,Mahindra,SUV,Gray,Automatic,5,3,...,0,1970-01-01,8470,0,0,Pavan,1,0,3,-18898 days
7,8C1O0B,Ahg,Denver,Etriga,Maruti,Hatchback,Black,Automatic,4,5,...,0,1970-01-01,5143,0,0,Shiva,4,0,0,-18531 days
8,KCVVNQ,Olx,Detroit,Yodha,Tata,Truck,Blue,Automatic,3,2,...,0,1970-01-01,7375,0,0,Sai,5,0,3,-19509 days
9,HGW6RK,Nufor,Tennessee,Creta,Hyundai,Hatchback,Blue,Manual,5,5,...,0,1970-01-01,5324,0,0,Shailaja,5,0,2,-17675 days

In [44]:
df.columns

Index(['ID', 'Distributor Name', 'Location', 'Car Name', 'Manufacturer Name',
       'Car Type', 'Color', 'Gearbox', 'Number of Seats', 'Number of Doors',
       'Energy', 'Manufactured Year', 'Price-$', 'Mileage-KM',
       'Engine Power-HP', 'Purchased Date', 'Car Sale Status', 'Sold Date',
       'Purchased Price-$', 'Sold Price-$', 'Margin-%', 'Sales Agent Name',
       'Sales Rating', 'Sales Commission-$', 'Feedback', 'Days to sell'],
      dtype='object')

In [46]:
df.loc[df["Car Sale Status"] == 0 , "Days to sell"] = 0

In [47]:
df.head(10)

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback,Days to sell
0,O2KE17,Carmudi,California,Fortuner,Toyota,SUV,Gray,Automatic,8,5,...,0,1970-01-01,8296,0,0,Pranav,1,0,1,0
1,EPMPC8,Carousell,Philadelphia,Creta,Hyundai,Hatchback,Blue,Automatic,5,5,...,1,2021-03-03,5659,4770,-16,Vihaan,5,0,2,1286 days 00:00:00
2,SQKXAP,Carsome,North Carolina,Scorpio,Mahindra,SUV,Gray,Automatic,5,5,...,0,1970-01-01,8430,0,0,Aarush,4,0,2,0
3,PWP2QK,Trivett,North Carolina,Plato,Prazo,Convertible,Gray,Automatic,2,2,...,1,2024-04-02,6919,7942,15,Anushka,1,205,1,324 days 00:00:00
4,FNDDKM,Zupps,Portland,Dzire,Maruti,Sedan,Red,Automatic,5,5,...,0,1970-01-01,6864,0,0,Pavan,3,0,0,0
5,I5D584,Zupps,Denver,Fortuner,Toyota,SUV,Red,Automatic,8,5,...,1,2024-11-02,8533,9929,16,Preeti,5,279,3,881 days 00:00:00
6,KPRE75,Cars24,New York,Thar,Mahindra,SUV,Gray,Automatic,5,3,...,0,1970-01-01,8470,0,0,Pavan,1,0,3,0
7,8C1O0B,Ahg,Denver,Etriga,Maruti,Hatchback,Black,Automatic,4,5,...,0,1970-01-01,5143,0,0,Shiva,4,0,0,0
8,KCVVNQ,Olx,Detroit,Yodha,Tata,Truck,Blue,Automatic,3,2,...,0,1970-01-01,7375,0,0,Sai,5,0,3,0
9,HGW6RK,Nufor,Tennessee,Creta,Hyundai,Hatchback,Blue,Manual,5,5,...,0,1970-01-01,5324,0,0,Shailaja,5,0,2,0

In [49]:
df.sample(n=5)

,ID,Distributor Name,Location,Car Name,Manufacturer Name,Car Type,Color,Gearbox,Number of Seats,Number of Doors,...,Car Sale Status,Sold Date,Purchased Price-$,Sold Price-$,Margin-%,Sales Agent Name,Sales Rating,Sales Commission-$,Feedback,Days to sell
813,P0W9PF,Zupps,Florida,Creta,Hyundai,Hatchback,Red,Manual,5,5,...,0,1970-01-01,4789,0,0,Dhruv,2,0,3,0
1454,7MEDOD,Knox,Utah,Swift,Maruti,Sedan,Blue,Manual,5,4,...,0,1970-01-01,6513,0,0,Krishna,5,0,2,0
2896,XNBTIB,Olx,North Carolina,Scorpio,Mahindra,SUV,Blue,Automatic,5,5,...,0,1970-01-01,7515,0,0,Supriya,3,0,2,0
4341,AZVKA8,Trivett,Chicago,Thar,Mahindra,SUV,White,Automatic,5,3,...,0,1970-01-01,8088,0,0,Shilpa,1,0,2,0
5695,HBQHLR,Ahg,North Carolina,Seltos,Kia,Hatchback,Blue,Manual,5,5,...,0,1970-01-01,4497,0,0,Dhruv,1,0,3,0